ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display:inline-block;
  }
  ul li{
    float: left;
    padding: 20px;
    color:yellow;
  }
  
  .fa{
    font-size: 40px;
    padding: 20px;
  }


.login-fail{
  top: 60px;
  padding-top: 50px;
}