<div class="user-body">
  <div class="toolBar">
    <div class="user-container" [class.user-is-mobile]="mobileQuery.matches">

      <button class="user-toolbar" id="mytoolbar" [class.hide-arrow]="isClicked" (click)="snav.toggle() && hideArrow()">
        <i class="btnIco fas fa-user-secret"></i>
        <i class="btnIco fas fa-pen-nib"></i>
        <i class="btnIco fas fa-clipboard-list"></i>
      </button>

      <mat-sidenav-container (backdropClick)="!hideArrow()" class="user-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 4 : 0">
        <mat-sidenav #snav class="side-nav slimScrollDiv in" [mode]="mobileQuery.matches ? 'over' : 'side'"
          fixedInViewport [attr.role]="mobileQuery ? 'dialog' : 'navigation'" [opened]="(largeQuery.matches) || (isClicked)"
          fixedTopGap="48">
          <mat-nav-list>
            <mat-accordion>
              <mat-expansion-panel>

                <mat-expansion-panel-header style="height:48px;">
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-user-secret"></mat-icon>
                    Web Site
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li routerLink="What" class="sub-title-item" (click)="snav.toggle() && mobileRouteWebSite()">What</li>
                  <li routerLink="Why" class="sub-title-item" (click)="snav.toggle() && mobileRouteWebSite()">Why</li>
                  <li routerLink="Who" class="sub-title-item" (click)="snav.toggle() && mobileRouteWebSite()">Who</li>
                  <li routerLink="When" class="sub-title-item" (click)="snav.toggle() && mobileRouteWebSite()">When</li>
                </ul>

                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li routerLink="What" class="sub-title-item" (click)="routeWebSite()">What</li>
                  <li routerLink="Why" class="sub-title-item" (click)="routeWebSite()">Why</li>
                  <li routerLink="Who" class="sub-title-item" (click)="routeWebSite()">Who</li>
                  <li routerLink="When" class="sub-title-item" (click)="routeWebSite()">When</li>
                </ul>

              </mat-expansion-panel>


              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-pen-nib"></mat-icon>
                    Geologists
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="senior-geologists" (click)="snav.toggle() && mobileRouteGeologists()">
                    Senior Geologists
                  </li>
                  <li class="sub-title-item" routerLink="fresh-geologists" (click)="snav.toggle() && mobileRouteGeologists()">
                    Fresh Geologists
                  </li>
                </ul>

                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="senior-geologists" (click)="routeGeologists()">Senior
                    Geologists</li>
                  <li class="sub-title-item" routerLink="fresh-geologists" (click)="routeGeologists()">Fresh Geologists</li>
                </ul>

              </mat-expansion-panel>


              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-clipboard-list"></mat-icon>
                    Labs
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="rock-testing" (click)="snav.toggle() && mobileRouteLabs()">
                    Rock Testing
                  </li>
                  <li class="sub-title-item" routerLink="soil-testing" (click)="snav.toggle() && mobileRouteLabs()">
                    Soil Testing
                  </li>
                  <li class="sub-title-item" routerLink="mapping" (click)="snav.toggle() && mobileRouteLabs()">
                    Mapping
                  </li>
                </ul>

                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="rock-testing" (click)="routeLabs()">Rock Testing</li>
                  <li class="sub-title-item" routerLink="soil-testing" (click)="routeLabs()">Soil Testing</li>
                  <li class="sub-title-item" routerLink="mapping" (click)="routeLabs()">Mapping</li>
                </ul>

              </mat-expansion-panel>

            </mat-accordion>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="content-area" [class.padding-left]="!isClicked">
          <div [ngSwitch]="sideNav?.raw" class="sub-nav" [class.large-sub-nav]="!(mobileQuery)!.matches">
            <nav *ngSwitchCase="'WebSite'" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks1" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngSwitchCase="'Geologists'" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngSwitchCase="'Labs'" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks3" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>


            <div class="peddles">
              <button id="pdl-btn" class="my-peddle peddle-left-button" (click)="leftClick()">
                <span><i class="fas fa-chevron-left"></i></span>
              </button>
              <button id="pdr-btn" class="my-peddle peddle-right-button" (click)="rightClick()">
                <span><i class="fas fa-chevron-right"></i></span>
              </button>
            </div>
          </div>
          <div id="outlet" class="outlet">
            <router-outlet></router-outlet>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>


  </div>
</div>
<footer id="myFooter">
  <div class="footer-copyright">
    <p>© 2018 Copyright</p>
  </div>
</footer>
