.matCard{
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

.matContent{
  position:relative;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display:inline-block;
  }
  ul li{
    float: left;
    padding: 20px;
    color:yellow;
  }
  
  .fa{
    font-size: 40px;
    padding: 20px;
  }


.login-fail{
  top: 60px;
  padding-top: 50px;
}

#myFooter {
	position: relative;
	margin: 0 auto;
	background-color: #182c39;
	color: white;
	padding-top: 35px;
	// min-width: 500px;
  }
  
  #myFooter .footer-copyright {
	background-color: #10222e;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
  }
  
  #myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
  }