.maps{
	position: relative;
	padding-top: 60px;
	min-height: 700px;
}
#myFooter {
	position: relative;
	margin: 0 auto;
	background-color: #182c39;
	color: white;
	padding-top: 35px;
	// min-width: 500px;
  }
  
  #myFooter .footer-copyright {
	background-color: #10222e;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
  }
  
  #myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
  }