<div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Full name</label>
      <p class="form-control-static">{{ details?.firstName +' '+ details?.lastName}}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">User Name</label>
      <p class="form-control-static">{{ details?.userName }}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Email</label>
      <p class="form-control-static">{{ details?.email }}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Role</label>
      <p class="form-control-static">{{ details?.role }}</p>
    </div>
  </div>
