<div class="pricing-list">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="col-md-4">
        <mat-grid-list cols="3" row="4" gutterSize="0.15em" rowHeight="4em">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
