<div class="header" [class.ham-clicked]="wasClicked">
  <div class="container">
    <div class="upper-row">
      <h1 class="logo" *ngIf="mobileQuery.matches">
        SLGSP
      </h1>
      <div class="menu-toggle" [class.mobile-match]="mobileQuery.matches" (click)="toggleMenu()">
        <div class="hamberger" [class.ham-clicked]="wasClicked"></div>
      </div>
      <div [class.mobile-match]="mobileQuery.matches" class="user-info" [class.ham-clicked]="wasClicked" [class.user-clicked]="userClicked">
        <a class="" [class.user-clicked]="userClicked">
          <span class="" [class.user-clicked]="userClicked">
            <i class="fa fa-address-book-o" [class.user-clicked]="userClicked" (click)="toggleUser()"></i>
          </span>
        </a>
      </div>
    </div>



    <ul class="my-navi" [class.ham-clicked]="wasClicked" [class.about-clicked]="aboutClicked">
      <li class="navi-item logo item-logo" *ngIf="!transition.matches">
        <a class="item-link" routerLink="\">SLGSP</a>
      </li>
      <li class="navi-item" [class.ham-clicked]="wasClicked">
        <a class="item-link" (click)="home()">Home</a>
      </li>
      <li class="navi-item" [class.ham-clicked]="wasClicked">
        <a class="item-link" (click)="service()">Services</a>
      </li>
      <li class="navi-item" [class.ham-clicked]="wasClicked">
        <a class="item-link" (click)="pricing()">Pricing</a>
      </li>
      <li class="navi-item" [class.ham-clicked]="wasClicked">
        <a class="item-link" (click)="maps()">Maps</a>
      </li>
      <li class="navi-item" [class.ham-clicked]="wasClicked">
        <a class="item-link" (click)="forum()">Forum</a>
      </li>
      <li class="navi-item about" [class.ham-clicked]="wasClicked">
        <a class="about item-link" (click)="toggleAbout()">
          <span class="">About</span>
        </a>
      </li>
      <li class="navi-item" [class.user-clicked]="userClicked">
        <a class="user-info item-link list-user" [class.user-clicked]="userClicked">
          <span class="" [class.user-clicked]="userClicked">
            <i class="fa fa-address-book-o" (click)="toggleUser()" [class.user-clicked]="userClicked"></i>

          </span>
        </a>
        <div class="user-pointer" *ngIf="!largeQuery.matches" [class.large-query]="!largeQuery.matches" [class.user-clicked]="userClicked">
          <span class="my-tip" [class.user-clicked]="userClicked"></span>
        </div>
      </li>
    </ul>
    <aside class="user-info-navi" [class.user-clicked]="userClicked" [class.user-not-clicked]="!userClicked">
      <div class="user-pointer" *ngIf="largeQuery.matches" [class.small-query]="largeQuery.matches" [class.user-clicked]="userClicked">
        <span class="my-tip" [class.user-clicked]="userClicked"></span>
      </div>
      <div class="user-tool-area" [class.user-clicked]="userClicked">
        <ul *ngIf="userLogged" class="site-navi" [class.user-clicked]="userClicked">
          <li class="site-item" [class.user-clicked]="userClicked">
            <a (click)="tanh()">
              <i class="fa fa-user-circle profile-pic"></i>
            </a>
            <a class="user-name">
                {{details.userName}}
            </a>
          </li>
          <li class="site-item" [class.user-clicked]="userClicked">
              <a (click)="user()">
                  <span>
                    <i class="fa fa-envira site-item-icon"></i>
                  </span>
                  Project</a>
          </li>
          <li class="site-item" [class.user-clicked]="userClicked">
            <a >
              <span>
                <i class="fa fa-bell-o site-item-icon"></i>
              </span>
              Notifications</a>
          </li>
          <li class="site-item" [class.user-clicked]="userClicked">
            <a >
              <span>
                <i class="fa fa-cog site-item-icon"></i>
              </span>
              Account Settings</a>
          </li>
          <li class="site-item" [class.user-clicked]="userClicked">
            
            <a (click)="logOut()">
              <span>
                <img class="fa fa-sign-out site-item-icon" src="" />
              </span>
              <span>
                Log Out
              </span>
            </a>
          </li>
        </ul>
        <ul  *ngIf="!userLogged" class="site-navi user-not-logged" [class.user-clicked]="userClicked">
            <li class="site-item" [class.user-clicked]="userClicked">
                <a (click)="login()">
                    <span>
                      <i class="fa fa-sign-in site-item-icon"></i>
                    </span>
                    <span>Login</span>
                </a>
            </li>
            <li class="site-item" [class.user-clicked]="userClicked">
                <a (click)="signUp()">
                    <span>
                      <i class="fas fa-user-edit site-item-icon"></i>
                    </span>
                    <span>Register</span>
                  </a>
                </li>
        </ul>
      </div>

    </aside>

  </div>
</div>

<div>
  <div class="about-div" [class.about-clicked]="aboutClicked" *ngIf="aboutClicked">
    <a class="" (click)="login()">Action</a>
    <a class="" (click)="login()">Another action</a>
    <a class="" (click)="login()">Something else here</a>
  </div>
</div>

<div class="outlet-area" (click)="removeIt()">
  <router-outlet></router-outlet>
</div>

