<div class="collect-info">
  <!-- <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->

  <mat-horizontal-stepper *ngIf="!mobileQuery.matches" class="step-scroll slimScrollDiv" [linear]="true" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Insert Method</ng-template>
        <mat-form-field>
          <mat-select class="scroll-decorator" name="role" placeholder="Select entry type" formControlName="firstCtrl">
            <mat-option>Clear</mat-option>
            <mat-option value="flood">Flood Area Insertion</mat-option>
            <mat-option value="landslide">Landslide Area Insertion</mat-option>
            <mat-option value="stability">Ground Stability Insertion</mat-option>
            <mat-option value="waterTable">Water table Insertion</mat-option>
            <mat-option value="WaterConstituent">Water Constituent Insertion</mat-option>
            <mat-option value="mapping">Geological Mapping Detail Insertion</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="typeInsert()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select Data belong Area</ng-template>

        <agm-map #agm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
          (mapClick)="mapClicked($event)">

          <!-- <agm-marker 
                    *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
                    [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)">
                  
                </agm-marker> -->

          <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">

          </agm-marker>
          <agm-marker #myMark *ngFor="let n of marks" [latitude]="n.lat" [longitude]="n.lng">

          </agm-marker>

          <agm-data-layer *ngIf="intresection" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc">

          </agm-data-layer>

          <agm-polygon [paths]="paths">

          </agm-polygon>

        </agm-map>

        <button mat-raised-button class="my-button" (click)="createDummyPolygon()">Select Area</button>
        <button mat-raised-button class="my-button" (click)="resetDummyPolygon()">Remove Area</button>
        <!-- <button mat-raised-button (click)="floodInsertButton()">Insert Flood Area</button> -->
        <!-- <button mat-raised-button (click)="floodCheckButton()">Check Flooded Area</button>
          <button mat-raised-button (click)="floodDetailButton()">CheckFlood Details</button> -->
        <!-- <button mat-raised-button (click)="floodDetailsResetButton()">Reset Flood Details</button> -->

        <mat-form-field style="display: none;" class="map-step-form">
          <input matInput name="secret" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Extra Information</ng-template>
        <div *ngIf="floodInsert">
          <mat-form-field class="map-step-form">
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Date"
              formControlName="thirdCtrl1" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <input matInput placeholder="Date" formControlName="thirdCtrl1" required> -->
          </mat-form-field>
          <mat-form-field class="map-step-form">
              <input matInput placeholder="Email" formControlName="thirdCtrl2" required>
          </mat-form-field>
          <p>If investigation not done for a customer leave below free.</p>
          <mat-form-field class="map-step-form">
              <input matInput placeholder="Customer Email" formControlName="thirdCtrl3">
          </mat-form-field>
          <button mat-raised-button class="my-button" type="button" (click)="floodInsertButton()">Submit</button>
        </div><br>

          <div id="status">
            <a>{{submitInfo}}</a>
          </div><br>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-vertical-stepper *ngIf="mobileQuery.matches" class="step-scroll slimScrollDiv" [linear]="isLinear" #stepper="matVerticalStepper">
      <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Insert Method</ng-template>
            <mat-form-field>
              <mat-select class="scroll-decorator" name="role" placeholder="Select entry type" formControlName="firstCtrl">
                <mat-option>Clear</mat-option>
                <mat-option value="flood">Flood Area Insertion</mat-option>
                <mat-option value="landslide">Landslide Area Insertion</mat-option>
                <mat-option value="stability">Ground Stability Insertion</mat-option>
                <mat-option value="waterTable">Water table Insertion</mat-option>
                <mat-option value="WaterConstituent">Water Constituent Insertion</mat-option>
                <mat-option value="mapping">Geological Mapping Detail Insertion</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext (click)="typeInsert()">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Select Data belong Area</ng-template>
    
            <agm-map #agm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
              (mapClick)="mapClicked($event)">
    
              <!-- <agm-marker 
                        *ngFor="let m of markers; let i = index"
                        (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="m.label"
                        [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
                      
                    </agm-marker> -->
    
              <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
    
              </agm-marker>
              <agm-marker #myMark *ngFor="let n of marks" [latitude]="n.lat" [longitude]="n.lng">
    
              </agm-marker>
    
              <agm-data-layer *ngIf="intresection" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc">
    
              </agm-data-layer>
    
              <agm-polygon [paths]="paths">
    
              </agm-polygon>
    
            </agm-map>
    
            <button mat-raised-button class="my-button" (click)="createDummyPolygon()">Select Area</button>
            <button mat-raised-button class="my-button" (click)="resetDummyPolygon()">Remove Area</button>
            <!-- <button mat-raised-button (click)="floodInsertButton()">Insert Flood Area</button> -->
            <!-- <button mat-raised-button (click)="floodCheckButton()">Check Flooded Area</button>
              <button mat-raised-button (click)="floodDetailButton()">CheckFlood Details</button> -->
            <!-- <button mat-raised-button (click)="floodDetailsResetButton()">Reset Flood Details</button> -->
    
            <mat-form-field style="display: none;" class="map-step-form">
              <input matInput name="secret" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Extra Information</ng-template>
            <div *ngIf="floodInsert">
              <mat-form-field class="map-step-form">
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Date"
                  formControlName="thirdCtrl1" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <input matInput placeholder="Date" formControlName="thirdCtrl1" required> -->
              </mat-form-field>
              <mat-form-field class="map-step-form">
                  <input matInput placeholder="Email" formControlName="thirdCtrl2" required>
              </mat-form-field>
              <p>If investigation not done for a customer leave below free.</p>
              <mat-form-field class="map-step-form">
                  <input matInput placeholder="Customer Email" formControlName="thirdCtrl3">
              </mat-form-field>
              <button mat-raised-button class="my-button" type="button" (click)="floodInsertButton()">Submit</button>
            </div><br>
    
              <div id="status">
                <a>{{submitInfo}}</a>
              </div><br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </mat-step>
  </mat-vertical-stepper>
</div>
