<div class="user-body">
  <div class="toolBar">
    <div class="user-container" [class.user-is-mobile]="mobileQuery.matches">
      <!-- <mat-toolbar color="primary" class="user-toolbar" *ngIf="mobileQuery.matches">
            <button mat-icon-button (click)="snav.toggle()">
              <mat-icon class="fa fa-list"></mat-icon>
            </button>
            <h1 class="user-app-name">Responsive App</h1>
          </mat-toolbar> -->
      <button class="user-toolbar" id="mytoolbar" [class.hide-arrow]="isClicked" (click)="snav.toggle() && hideArrow()">
        <!-- <mat-icon class=" slide-icon fa fa-chevron-circle-right"></mat-icon> -->
        <i class="btnIco fas fa-user-secret"></i>
        <i class="btnIco fas fa-pen-nib"></i>
        <i class="btnIco fas fa-clipboard-list"></i>
        <i class="btnIco fas fa-chart-line"></i>
        <i class="btnIco fas fa-table"></i>
        <i class="btnIco fas fa-map-marked-alt"></i>
        <i class="btnIco fas fa-briefcase"></i>
      </button>

      <mat-sidenav-container (backdropClick)="!hideArrow()" class="user-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 4 : 0">
        <mat-sidenav #snav class="side-nav slimScrollDiv in" [mode]="mobileQuery.matches ? 'over' : 'side'"
          fixedInViewport [attr.role]="mobileQuery ? 'dialog' : 'navigation'" [opened]="(largeQuery.matches) || (isClicked)"
          fixedTopGap="48">
          <mat-nav-list>
            <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header style="height:48px;">
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-user-secret"></mat-icon>
                    Account
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li routerLink="personal-data" class="sub-title-item" (click)="snav.toggle() && mobileRouteAccount()">Personal
                    data</li>
                  <li routerLink="credit-cards" class="sub-title-item" (click)="snav.toggle() && mobileRouteAccount()">Credit
                    cards</li>
                  <li routerLink="activities" class="sub-title-item" (click)="snav.toggle() && mobileRouteAccount()">Activities</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li routerLink="personal-data" class="sub-title-item" (click)="routeAccount()">Personal data</li>
                  <li routerLink="credit-cards" class="sub-title-item" (click)="routeAccount()">Credit cards</li>
                  <li routerLink="activities" class="sub-title-item" (click)="routeAccount()">Activities</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-pen-nib"></mat-icon>
                    Editor
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="snav.toggle() && mobileRouteEditor()">Text
                    Editor</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="routeEditor()">Text Editor</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-clipboard-list"></mat-icon>
                    Forms
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="snav.toggle() && mobileRouteForm()">Text
                    Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="snav.toggle() && mobileRouteForm()">Map
                    Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="snav.toggle() && mobileRouteForm()">Chart
                    Editor</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="routeForm()">Text Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="routeForm()">Map Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="routeForm()">Chart Editor</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-chart-line"></mat-icon>
                    Charts
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="chart-editor" (click)="snav.toggle() && mobileRouteChart()">Chart
                    Editor</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="chart-editor" (click)="routeChart()">Chart Editor</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-table"></mat-icon>
                    Tables
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="snav.toggle() && mobileRouteTable()">Text
                    Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="snav.toggle() && mobileRouteTable()">Map
                    Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="snav.toggle() && mobileRouteTable()">Chart
                    Editor</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="routeTable()">Text Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="routeTable()">Map Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="routeTable()">Chart Editor</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-map-marked-alt"></mat-icon>
                    Maps
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="snav.toggle() && mobileRouteMap()">Text
                    Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="snav.toggle() && mobileRouteMap()">Map
                    Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="snav.toggle() && mobileRouteMap()">Chart
                    Editor</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="routeMap()">Text Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="routeMap()">Map Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="routeMap()">Chart Editor</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="panelIco fas fa-briefcase"></mat-icon>
                    Documents
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="sub-title-list" *ngIf="mobileQuery.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="snav.toggle() && mobileRouteDocument()">Text
                    Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="snav.toggle() && mobileRouteDocument()">Map
                    Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="snav.toggle() && mobileRouteDocument()">Chart
                    Editor</li>
                </ul>
                <ul class="sub-title-list" *ngIf="!(mobileQuery)!.matches">
                  <li class="sub-title-item" routerLink="text-editor" (click)="routeDocument()">Text Editor</li>
                  <li class="sub-title-item" routerLink="map-editor" (click)="routeDocument()">Map Editor</li>
                  <li class="sub-title-item" routerLink="chart-editor" (click)="routeDocument()">Chart Editor</li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Self aware panel
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

            </mat-accordion>
          </mat-nav-list>
        </mat-sidenav>
        <!-- <img src="../../assets/userpage.jpg" alt=""> -->

        <mat-sidenav-content class="content-area" [class.padding-left]="!isClicked">
          <div class="user-image"></div>
          <!-- <div *ngIf="isPClicked">
                <app-user-page></app-user-page>
              </div> -->
          <div class="sub-nav" [class.large-sub-nav]="!(mobileQuery)!.matches">
            <nav *ngIf="isAccountClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks1" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngIf="isEditorClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngIf="isFormClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngIf="isChartClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngIf="isMapClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngIf="isTableClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>
            <nav *ngIf="isDocumentClicked" id="my-mat-nav" class="outer-container" mat-tab-nav-bar>
              <a mat-tab-link *ngFor="let link of navLinks2" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}</a>

            </nav>

            <div class="peddles">
              <button id="pdl-btn" class="my-peddle peddle-left-button" (click)="leftClick()">
                <span><i class="fas fa-chevron-left"></i></span>
              </button>
              <button id="pdr-btn" class="my-peddle peddle-right-button" (click)="rightClick()">
                <span><i class="fas fa-chevron-right"></i></span>
              </button>
            </div>
          </div>
          <div id="outlet" class="outlet">
            <router-outlet></router-outlet>
          </div>



          <!-- <mat-tab-group flex>
                <mat-tab flex label="First"> Content 1 </mat-tab>
                <mat-tab flex label="Second"> Content 2 </mat-tab>
                <mat-tab flex label="Third"> Content 3 </mat-tab>
              </mat-tab-group> -->
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>


  </div>
</div>
