<div class="user-body">
    <div class="toolBar">
        <div class="user-container" [class.user-is-mobile]="mobileQuery.matches">
          <!-- <mat-toolbar color="primary" class="user-toolbar" *ngIf="mobileQuery.matches">
            <button mat-icon-button (click)="snav.toggle()">
              <mat-icon class="fa fa-list"></mat-icon>
            </button>
            <h1 class="user-app-name">Responsive App</h1>
          </mat-toolbar> -->
          <button mat-icon-button class="user-toolbar" id="mytoolbar" [class.hide-arrow]="isClicked" (click)="snav.toggle() && hideArrow()">
            <mat-icon class="fa fa-chevron-circle-right"></mat-icon>
          </button>
      
          <mat-sidenav-container (backdropClick)="!hideArrow()" class="user-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 4 : 0">
            <mat-sidenav mat-sidenav-fixed class="mat-sidenav-fixed CdkScrollable" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [attr.role]="mobileQuery ? 'dialog' : 'navigation'"
              [opened]="(largeQuery.matches) || (isClicked)" fixedTopGap="48">
              <mat-nav-list>
                <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header style="height:48px;">
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-user-secret"></mat-icon>
                        Account
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                      <li class="sub-title-item">Personal data</li>
                      <li class="sub-title-item">Credit cards</li>
                      <li class="sub-title-item">Activities</li>
                    </ul>
                  </mat-expansion-panel>
            
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-pen-nib"></mat-icon> 
                        Editor
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                        <li class="sub-title-item">Personal data</li>
                        <li class="sub-title-item">Credit cards</li>
                        <li class="sub-title-item">Activities</li>
                      </ul>
                  </mat-expansion-panel>
                  
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-clipboard-list"></mat-icon>  
                        Forms
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                        <li class="sub-title-item">Personal data</li>
                        <li class="sub-title-item">Credit cards</li>
                        <li class="sub-title-item">Activities</li>
                      </ul>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-chart-line"></mat-icon> 
                        Charts
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                        <li class="sub-title-item">Personal data</li>
                        <li class="sub-title-item">Credit cards</li>
                        <li class="sub-title-item">Activities</li>
                      </ul>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-table"></mat-icon> 
                        Tables
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                        <li class="sub-title-item">Personal data</li>
                        <li class="sub-title-item">Credit cards</li>
                        <li class="sub-title-item">Activities</li>
                      </ul>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-map-marked-alt"></mat-icon> 
                        Maps
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                        <li class="sub-title-item">Personal data</li>
                        <li class="sub-title-item">Credit cards</li>
                        <li class="sub-title-item">Activities</li>
                      </ul>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon class="panelIco fas fa-briefcase"></mat-icon>
                        Documents
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="sub-title-list">
                        <li class="sub-title-item">Personal data</li>
                        <li class="sub-title-item">Credit cards</li>
                        <li class="sub-title-item">Activities</li>
                      </ul>
                  </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Self aware panel
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>

                </mat-accordion>
              </mat-nav-list>
            </mat-sidenav>
      
            <mat-sidenav-content class="content-area" [class.padding-left]="!isClicked">   
              <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
              <p>testing content area</p>
            </mat-sidenav-content>
          </mat-sidenav-container>
        </div>
      
      
      </div>
</div>
<router-outlet></router-outlet>

