.user-body {
  position: relative;
  padding:0 ;
  width: 100%;
}
.user-container{
  position: relative;
}

.content-area {
  padding: 0 0 0 1em;
  min-height: 700px;
}

.user-is-mobile {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

::-webkit-scrollbar { 
  display: none; 
}

.user-toolbar {
    display: none;
    border: none;
}

.panelIco{
  font-size: 1.2em;
  margin: 0 10px 0 0;
}


.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none;
}



.side-nav{
  max-height: 450px;
  overflow: hidden;
  overflow-y: auto;
}

.slimScrollDiv {
  height: auto!important;
  overflow: hidden;
  overflow-y: auto;
}

::ng-deep .mat-drawer {
  overflow-y: auto;
}

h1.user-app-name {
  margin-left: 8px;
}

.mat-sidenav {
  background: linear-gradient(135deg, #8f75da 0, #727cf5 60%);
  width: 15em;
  overflow: hidden;
  overflow-y: auto;
}

.user-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  padding-top: 48px;
  position: relative;
}

.user-is-mobile .user-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer {
  top: 4px;

}

.mat-expansion-panel {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  padding-bottom:0;
}

::ng-deep .mat-expansion-panel-body{
  padding: 0 0 0 1.5em !important;
}

.mat-expansion-panel-header-title {
  color: rgba(255, 255, 255, 0.7);
}

::ng-deep .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 0.7);
}

::ng-deep .mat-expansion-indicator {
  padding-bottom: 0.5em;
}
.mat-expansion-panel-header-title:hover {
  color: rgba(255, 255, 255, 1);
}

.sub-title-list{
  list-style: none;
}

.sub-title-item{
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0 1em 1em;
  cursor: pointer;
  outline: none;
}

.sub-title-item:hover{
  color: rgba(255, 255, 255, 0.75);
}

.mat-icon-button{
  outline-color: transparent;
}

.sub-nav{
  position:fixed;
  background:linear-gradient(135deg, #727cf5 0, #8f75da 60%) ;
  left: 44px;
  opacity: 1;
  z-index: 9999;
  width: 100%;
}
.user-image{
  width:100%;
  height: auto;
  background: url('../../assets/userpage.jpg');
}

.large-sub-nav{
  left: 240px;
}


.peddles{
  display:none;
}

.outlet{
  position: relative;
  padding-top:60px;
  // min-width: 500px;
  // overflow:hidden;
}

.mat-tab-link{
  text-decoration: none;
  color:white;
}
@media only screen and (max-width: 767px) {
  .user-toolbar {
    background: #8f75da;
    color: rgba(255, 255, 255, 0.75);
    border-radius: none;
    display: grid;
    position: fixed;
    top: 48px;
    max-height: 450px;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    font-size: 15px;
    left: -22px;
    height: 90%;
    transition: 0.25s;
  }

  .btnIco{
    padding: 1.5em .5em 1.5em 2em;
  }

  .fa-chevron-circle-right:before{
    color: rgba(0, 0, 0, 0.5);;
  }

  .hide-arrow {
    transform: translateX(-200%);
    transition: 0.25s;
  }  
  .content-area {
    padding: 0 0 0 3.2em;
  }
  .user-sidenav-container {
    top: -4px;
  }
  // .content-area.padding-left {
  //   // padding-left: 3em;
  // }
}


@media only screen and (max-width: 419px) {
  .mat-tab-nav-bar {
    max-width: 65%;
    left: 8%;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;  // IE 10+
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .mat-tab-nav-bar::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none; 
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }

  ::-webkit-scrollbar { 
    display: none; 
  }

  .content-area {
    padding: 0 0 0 4em;
  }

  .peddles{
    position: relative;
    display: block;
    top:-35px;
  }

  .my-peddle{
    position: absolute;
    background: transparent;
    border-top: none;
    border-bottom: none;
    outline: none;
  }

  .peddle-left-button{
    position: absolute;
    top: 20%;
    border-left: none;
  }

  .peddle-right-button{
    position: absolute;
    right: 20%;
    top: 20%;
    border-right: none;

  }
}