<div class="container justify-content-center" id="signUp">   
  <h1>Create SLGSP Acoount</h1>
  
  <form class="" #signUpForm="ngForm"   (ngSubmit)="register()">
    <div class="form-wrap">
      <mat-form-field>
        <input matInput type="text" name="firstName" 
          #firstName="ngModel" [(ngModel)]="user.firstName" placeholder="First Name" required/>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="lastName" 
          #lastName="ngModel" [(ngModel)]="user.lastName" placeholder="Last Name" required/>
      </mat-form-field>
    </div>
    <div class="form-wrap">
      <mat-form-field>
          <input matInput type="text" name="userName" 
            #userName="ngModel" [(ngModel)]="user.userName" placeholder="User Name" required/>
      </mat-form-field>
    </div>
    <div class="form-wrap">
      <mat-form-field>
        <input matInput class="validate" type="email" name="email" 
          #email="ngModel" [(ngModel)]="user.email" required/>
        <mat-label >Email</mat-label>
      </mat-form-field>
    </div>
    <div class="form-wrap">
      <mat-form-field>
        <input matInput type="password" name="password" 
          #password="ngModel" [(ngModel)]="user.password" placeholder="password" required/>
      </mat-form-field>
    </div>
    <div class="form-wrap">
      <mat-form-field>
          <mat-select  name="role" #role="ngModel" [(ngModel)]="user.role" placeholder="Role">
            <mat-option value="Customer">Customer</mat-option>
            <mat-option value="Geologist">Geologist</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="form-wrap btnWrap">
    
        <button mat-raised-button class="submit-btn" type="submit">Submit</button>
    
    </div>
    
  
  </form>

</div>

<!-- <form (submit)="register()">
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
  </div>
  <button type="submit" class="btn btn-default">Register!</button>
</form> -->
